* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    border: 2px solid rgba(8, 8, 22, 0.658);
    width: 85%;
    margin-bottom: 1rem;
    position: relative;
}

.complete-details {
    display: flex;
    margin: 1rem;
    align-items: center;
}

.card > button {
    font-size: 1.2rem;
    bottom: 15px;
}

.card > svg, .experience-trash {
  width: 36px;
  min-width: 36px;
  height: 24px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
}

.card > svg:hover {
    color: red;
}